includes:
  - ./vendor-bin/phpstan/vendor/nunomaduro/larastan/extension.neon

parameters:

  paths:
    - src


  level: 8

  ignoreErrors:

  bootstrapFiles:
    - vendor-bin/phpstan/bootstrap.php

  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: false
